body, html{
	padding:0;
	margin:0;
	font-family: 'roboto';
	box-sizing:border-box;
	width: 100%;
	height: 100%;
}
.menu{
	width:100%;
	padding: 15px 0px;
	background-color: #6ad0f5;
	margin:0;
	color:#606060;
	display:inline-block;
	box-sizing: border-box;
	float: left;
}
.menu .menu_wrap{
	float:right;
	height: 19px;
	padding-right: 6.25%;
}
.menu .menu_wrap .nav{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu .menu_wrap .nav li{
	float: left;
   	margin: 0 5px;
   	color: #fff;
}
.menu .menu_wrap .nav li img{
	width: 19px;
	height: 19px;
	margin:0;
	padding: 0;
}
.menu .menu_wrap .nav li h3{
	font-size: 15px;
	margin: 0;
	float:right;
	font-weight: 400;
	padding-left: 5px;
}
.menu .menu_wrap .nav ul{
	list-style: none;
	/*margin: 0;
	padding: 0;*/
}
.menu .menu_wrap .nav li a{
    display: block;
    text-decoration: none;
    font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin: 0;
	cursor: pointer;
}
.menu .menu_wrap .nav a:hover {
    color: #2957a4;
}
.menu .menu_wrap .nav li .active_lang{
	color:#2957a4;
}
/*main menu*/
.main_menu{ 
	width:100%;
	background-color: #ffffff;
	height: 80px;
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 10;
}
.navigation{
	float: left;
	width:100%;
}

.navigation .burger_menu{
	display: none;
}
.main_menu_wrapper{
	width:90%;
	margin:0px auto;
}
.main_menu .logo{
	float:left;
	margin:0;
	width:;
}
.main_menu .logo a{
	width:250px;
	height:73px;
	margin:5px 0 0 0;
	padding:0;
	background:url("../images/icons/logo_mk.png");
	display: inline-block;
	background-size: 100%;
}
.main_menu .main_nav_wrap{
	float:right;
}
.main_menu .main_nav_wrap ul{
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main_menu .main_nav_wrap ul li{
	float:left;
	margin: 0 10px;
	position: relative;
	padding: 0;
}
.main_menu .main_nav_wrap ul li a{
	text-decoration: none;
	color:#373435;
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	align-items:center;
	padding: 30px 10px;
	font-weight: 400;
}
.main_menu .main_nav_wrap ul li:nth-child(5){
	margin-right: 60px;
}
.main_menu .main_nav_wrap ul li:nth-child(6){
	margin-right: 0;
}
.main_menu .main_nav_wrap ul li a:hover{
	color:#2957a4;
}
.main_menu .main_nav_wrap ul li input{
	padding: 28px 0;
}
.main_menu .main_nav_wrap ul li input .search{
	width:24px;
	height:24px;
	padding: 5px 0;
	position: absolute;
}
.main_menu .main_nav_wrap ul li input[type=text] {
  float:right;
  right: 0;
  width: 45px;
  padding: 0;
  box-sizing: border-box;
  border:none;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  background-image: url("../images/icons/search.png");
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 12px 10px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: absolute;
  margin-top: 19px;
  cursor: pointer;
}
.main_menu .main_nav_wrap ul li input[type=text]:focus {
  width: 350px;
  border: 1px solid #606060;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 49px;
}
.slider{
	width:100%;
	height: 800px;
	box-sizing: border-box;
}
.slider .slide_wrap{
	width: 100%;
    height: 100%;
    float: left;
    display: inline-block;
}

.slider .slide_wrap .slide{
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	
}
.slider .slide_wrap .slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider .slide_wrap .slide h2{
	font-size: 42px;
	font-weight: 400;
	color:#2957a4;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	margin-top:-170px;
}
.slider .slide_wrap .two h2{
	color:#fff;
	letter-spacing: 5px;
}
.slider .slide_wrap .truck{
	position: absolute;
	top:200px;
	right: 6%;
}
.slider .slide_wrap .truck .circle{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #cf3034;
	background-image: url("../images/icons/truck.png");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}
.slider .slide_wrap .truck h3{
	color: #373435;
	font-size: 16px;
	font-weight: 400;
	float: left;
	margin-left: 20px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slider .slide_wrap .dot {
	cursor: pointer;
	height: 17px;
	width: 17px;
	margin: 0 5px;
	background-color:#ffffff;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.8s ease;
}
.slider .slide_wrap .active, .dot:hover{
	background-color:#85cce6;
}
.slider .slide_wrap .dots{
	position: relative;
	bottom: 60px;
	text-align: center;
}
.services{
	width: 100%;
	/*background-color: #f1f1f1;*/
}
.services .header h1{
	padding:80px 0px 60px 0px;
	margin:0;
	text-align: center;
	font-size: 30px;
	color:#373435;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}
.services .content{
	width:100%;
	margin:0 auto;
	box-sizing: border-box;

}
.content .mySlides{
	width: 88%;
	margin:0 auto;
    align-items: center;
    justify-content: center;
	
}
.content .mySlides ul{
	list-style: none;
	/*width: 100%;
	margin: 0 auto;*/
	padding: 0;

}
.content .mySlides ul li{
	float: left;
	text-align: center;
	padding: 0 1%;
	width: calc(89%/5);
	margin-bottom: 60px;
	height: 260px;
	cursor: pointer;
}
.content .mySlides ul li img{
	width: 180px;
	height: 170px;
	margin-bottom: 20px;
	/*background-position: center;*/
	/*background-size: cover;*/
	transform: scale(1);
	transition: all 0.4s ease-in-out;
}
.content .mySlides ul li:hover img{
	transform: scale(1.1);
}
.content .mySlides ul li h3{
	font-size: 15px;
	color: #373435;
	font-weight: 400;
	text-align: center;
}
.content .mySlides ul li:hover h3{
	color: #2957a4;
}
.content .prev, .next {
	background-color: #fff;
	border-style: none;
	cursor: pointer;
	z-index: 10;
	color: #606060;
	font-weight: lighter;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0;
}
.content .prev{
	float: left;
	margin-left:4%;
	margin-top:70px;
}
.content .next {
  float: right;
  margin-right: 4%;
 margin-top: 70px;
}
.content .prev:hover, .next:hover {
  background-color: #e0dae2;
}
.print{
	width: 100%;
}
.print .one{
	width: calc(100%/3);
	float: left;
	height: 380px;
	cursor: pointer;
}
.print .one img{
	width: 100%;
	height: 380px;
	opacity: .7;
	-webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);
}
.over{
	width: calc(100%/3);
	height: 380px;
	background-color: #7fdee0;
	background:linear-gradient(to right, #00a9ee, #ffffff);
	opacity: .6;
	position: absolute;
	z-index: 2;
	display: none;
	transition: all 0.4s ease-in-out;
}
.one:hover img{
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    /*transition: all 0.4s ease-in-out;*/
    opacity: 1;
}
.one:hover .over{
	display: block;
	transition: all 0.4s ease-in-out;
}
.print .one h2{
	margin:0;
	padding: 0;
	position: absolute;
	color: #fff;
	z-index: 5;
	font-size: 30px;
	font-weight: 500;
	margin-top:-230px;
	margin-left: 60px;
	letter-spacing: 5px;
	display: none;
}
.one:hover h2{
	display: block;
}
.cleaner{
	clear: both;
}
.products{
	width: 100%;
	background-color: #fff;
}
.products .header h1{
	padding:80px 0px 60px 0px;
	margin:0;
	text-align: center;
	font-size: 30px;
	color:#373435;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}
.products .wrapper{
	width: 88%;
	margin:0 auto;
}
.products .wrapper ul{
	list-style:none;
	width: 100%;
	margin: 0;
	padding: 0;
}
.products .wrapper ul li{
	float: left;
	width: calc(100%/4);
	text-align: center;
	height: 290px;
}
.products .wrapper ul li .product_img{
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
}
.products .wrapper ul li img{
	width: 100%;
	background-position: center;
	background-size: cover;
	transition: all 0.4s ease-in-out;
}
.products .wrapper ul li h3{
	font-size: 16px;
	font-weight: 400;
	color:#373435;
}
.products .wrapper ul li:hover img{
	-webkit-transition: 0.4s ease-out;
     -moz-transition: 0.4s ease-out;
     -o-transition: 0.4s ease-out;
     -ms-transition: 0.4s ease-out;
     transition: 0.4s ease-out;
     -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
.products .wrap{
	width:200px;
	margin: 0 auto;
}
.products button{
	background-color: #cf3034;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border-style: none;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	position: center;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 80px;
	cursor: pointer;
}
.footer{
	width: 100%;
	background-color: #00afef;
}